<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 card p-3" *ngFor="let item of movieList">
            <img class="card-img-top img-responsive" [src]="item.Poster" [alt]="item.Title">
            <div class="card-body d-flex flex-column">
                <div class="d-flex">
                    Title: <h5 class="ml-1 card-title text-info">{{item.Title}}</h5>
                </div>
                <div>
                    Year: {{item.Year}}
                </div>
            </div>
        </div>
    </div>
</div>